@model IdentityNet7UdemyLesson.web.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
}

@section Scripts{@await Html.PartialAsync("_ValidationScriptsPartial")}

<div class="row">
    <div class="col-md-6 offset-3">
        <h1>Şifre Sıfırla</h1>
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


