@model IdentityNet7UdemyLesson.web.ViewModels.SignInViewModel

@{
    ViewData["Title"] = "SignIn";
}



<div class="row">
    <div class="col-md-6 offset-3">
        <h4>Giriş Yap</h4>
        <form asp-action="SignIn" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input value="emir_han886@outlook.com" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="RememberMe" type="checkbox" /> Beni Hatırla
                        </label>
                    </div>
                </div>
                <div class=" col-md-6">
                    <a class="btn btn-link" asp-action="ForgetPassword" asp-controller="Home">Şifremi unuttum</a>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Giriş yap" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

